.contact{


    &-container{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    &-form{
        text-align: center;
       display: flex;
       flex-direction: column;
       
       align-items: center;
       justify-items: center;
    
       &__label{
           font-size: 2rem;
           margin-bottom: 10px;
       }

       &__name{
           padding: 2px;
       }
       &__submit{
           background: green;
           color: white;
           height: 2rem;
           width: 6rem;
           margin-top: 1.5rem;
       }
       &__message{
           height: 10rem;
           width: 17rem;
           resize: none;
       }

    }
}


.input{
    height: 1.5rem;
    width: 17rem;
    margin-bottom: 10px;
}